
<p>fiche de <%=@car.make%> <%=@car.model%> - <%=@car.number_plate%></p>

<%= render partial: 'form', locals: {
  car: @car,
  form_action: "#",
  form_method: "get",
  readonly: true
} %>

<a href="<%=edit_car_path(@car)%>">Mise à jour</a>
