
<p>fiche de <%=@car.make%> <%=@car.model%> - <%=@car.number_plate%></p>

<form action="/cars" name="car" method="post">

  <label for="user_id">Utilisateur</label>
  <p id="user_id"><%=@car.user_id%></p><br>

  <label for="number_plate">N° immatriculation</label>
  <p id="number_plate"><%=@car.number_plate%></p><br>

  <label for="make">Marque</label>
  <input type="text" name="make" id="make"><br>

  <label for="model">Modèle</label>
  <input type="text" name="model" id="model"><br>

  <div>
    <p for="energy">Energie</p>
    <input type="radio" id="Essence" name="energy" value="Essence">
    <label for="Essence">Essence</label><br>
    <input type="radio" id="Diesel" name="energy" value="Diesel">
    <label for="Diesel">Diesel</label><br>
    <input type="radio" id="Electrique" name="energy" value="Electrique">
    <label for="Electrique">Electrique</label><br>
    <input type="radio" id="Hybride non-rechargeable" name="energy" value="Hybride non-rechargeable">
    <label for="Hybride non-rechargeable">Hybride non-rechargeable</label>
    <input type="radio" id="Hybride rechargeable" name="energy" value="Hybride rechargeable">
    <label for="Hybride rechargeable">Hybride rechargeable</label>
    <input type="radio" id="Bicarburation essence-éthanol" name="energy" value="Bicarburation essence-éthanol">
    <label for="Bicarburation essence-éthanol">Bicarburation essence-éthanol</label>
    <input type="radio" id="Bicarburation essence GPL" name="energy" value="Bicarburation essence GPL">
    <label for="Bicarburation essence GPL">Bicarburation essence GPL</label>
  </div>

  <label for="horsepower">Puissance</label>
  <input type="number" name="horsepower" id="horsepower"><br>

  <label for="first_registration_date">Date de mise en circulation</label>
  <input type="date" name="first_registration_date" id="first_registration_date"><br>

  <label for="mileage">Kilomètrage</label>
  <input type="number" name="mileage" id="mileage"><br>

  <%# a ajouter dans le modele %>
  <label for="mileage_per_year">Kilomètrage par an</label>
  <input type="number" name="mileage_per_year" id="mileage_per_year"><br>

  <%# a ajouter dans le modele %>
  <div>
    <p for="use">Utilisation</p>
    <input type="checkbox" id="commute" name="use" value="commute">
    <label for="commute">Domicile-travail</label><br>
    <input type="checkbox" id="use_for_work" name="use" value="use_for_work">
    <label for="use_for_work">Outil de travail</label><br>
    <input type="checkbox" id="weekend" name="use" value="weekend">
    <label for="weekend">Week-ends</label><br>
    <input type="checkbox" id="winter_holidays" name="use" value="winter_holidays">
    <label for="winter_holidays">Vacances d'hiver</label><br>
    <input type="checkbox" id="spring_holidays" name="use" value="spring_holidays">
    <label for="spring_holidays">Vacances de printemps</label><br>
    <input type="checkbox" id="summer_holidays" name="use" value="summer_holidays">
    <label for="summer_holidays">Vacances d'ete</label><br>
    <input type="checkbox" id="fall_holidays" name="use" value="fall_holidays">
    <label for="fall_holidays">Vacances d'automne</label><br>
  </div>

  <label for="last_technical_control_date">Date du dernier Contrôle Technique</label>
  <input type="date" name="last_technical_control_date" id="last_technical_control_date"><br>

  <label for="last_maintenance_operation_made_on">Date du dernier entretien</label>
  <input type="date" name="last_maintenance_operation_made_on" id="last_maintenance_operation_made_on"><br>

  <label for="last_maintenance_operation_mileage">Kilomètrage du dernier entretien</label>
  <input type="number" name="last_maintenance_operation_mileage" id="last_maintenance_operation_mileage"><br>

  <input type="submit" value="Submit">

</form>
